
img{
    display: block;
    width: 100%;
}

.content{
    background-color: #ec0e0e40;
    color: #fff;
    font-family: 'Pacifico', cursive;
}

.content p{
    margin-left: 10px;
    font-size: 31px;
    text-align: center;
}

@media(max-width: 739px){
    .content p{
        font-size: 20px;
        text-align: justify;
    }
}